/backup/
*.project
/.idea/
*.hipnc

1_recognise_images/geo/
/.history/

venv/

start.sh

plane1.blend

plane1.blend1

5_generative_networks/notes.txt

*.model

*.csv

*.npy

*.blend1

5_generative_networks/get_logos.py

5_generative_networks/get_maps.py

5_generative_networks/urls.txt

5_generative_networks/test.bash

5_generative_networks/test.sh

5_generative_networks/demo/models/vae_decoder_js/group1-shard10of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard11of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard1of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard2of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard3of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard4of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard5of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard6of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard7of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard8of11.bin

5_generative_networks/demo/models/vae_decoder_js/group1-shard9of11.bin

5_generative_networks/demo/models/vae_decoder_js/model.json

5_generative_networks/demo/models/

5_generative_networks/demo/.history/

5_generative_networks/demo-flowers/src/components/models/flowers_generator_js/

5_generative_networks/demo-flowers/src/components/models/vae_decoder_js/

5_generative_networks/demo-flowers/.history/build/

5_generative_networks/demo-flowers/.history/src/components/

5_generative_networks/demo-flowers/public/models/flowers_generator_js/

5_generative_networks/demo-flowers/public/models/vae_decoder_js/

*.pyc

5_generative_networks/demo-flowers/

5_generative_networks/demo/dist/

5_generative_networks/progan/.idea/
