/backup/
*.project
/.idea/
*.hipnc

1_recognise_images/geo/
/.history/

venv/

start.sh

plane1.blend

plane1.blend1

5_generative_networks/notes.txt

*.model

*.csv

*.npy

*.blend1

5_generative_networks/get_logos.py

5_generative_networks/get_maps.py

5_generative_networks/urls.txt

5_generative_networks/test.bash

5_generative_networks/test.sh
